.post {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    height: 500px;
  }
  &__img__container {
    width: 100%;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  &__title {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: map-get($colors, "title");
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }

  &__author {
    margin-left: 20px;
    &__container {
      display: flex;
    }
    &__img__container {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__name {
      font-size: 19px;
      font-weight: 600;
    }

    &__post__date {
      font-size: 19px;
    }
  }
  &__like {
    width: 40px;
    height: 40px;
    margin-left: auto;
    color: map-get($colors, "heart");
    stroke-width: 0.5;
  }
}
