.container {
  margin-top: 20px;
  &__cardlist {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  &__img {
    height: 250px;
  }
  &__buttonSeeAll {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: 2px solid #000; /* Black border */
    border-radius: 20px;
    box-shadow: 5px 2px #fff, 5px 2px 0px 2px #000; /* Black border effect */ /* White glow with black outer shadow */
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__buttonSeeAll:hover {
    box-shadow: 0 0 15px 5px #fff; /* Stronger glow on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
}
