.container {
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 95%;
  box-shadow: $box-shadow-value;
  &__cardlist {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin: 20px;
  }
  &__img {
    width: 100%;
    &__src {
      height: 250px;
      width: 100%;
      border-radius: 10px;
    }
  }

  &__option {
    display: flex;
    gap: 10px;
    padding: 0px 20px;
    margin: 10px 0;
    &__button {
      padding: 5px 15px;
      font-size: 16px;
      font-weight: bold;
      color: map-get($colors, "white");
      background-color: map-get($colors, "text");
      border: 2px solid map-get($colors, "text"); /* Black border */
      border-radius: 20px;
      box-shadow: 5px 2px map-get($colors, "white"),
        5px 2px 0px 2px map-get($colors, "text"); /* Black border effect */ /* White glow with black outer shadow */
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button:hover {
      box-shadow: 0 0 15px 5px map-get($colors, "white"); /* Stronger glow on hover */
      transform: translateY(-2px); /* Slight lift effect */
    }

    &__arrow {
      display: flex;
      gap: 25px;
    }
  }
}
