.container {

    margin: 5px 0px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 97%;
    box-shadow: 0px 1.98px 2.64px #94A3B8;

    &__cardlist {
        display: flex;
        justify-content: space-between;
        gap: 6;
        margin: 20px;
    }

    &__img {
        width: 100%;
        &__src {
            height: 250px;
            width: 100%;
            border-radius: 10px;
        }
    }
    
    
    &__option {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        margin: 5px 0;
        &__button {
            padding: 5px 15px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #000;
            border: 2px solid #000; /* Black border */
            border-radius: 20px;
            box-shadow: 5px 2px #fff, 5px 2px 0px 2px #000; /* Black border effect */ /* White glow with black outer shadow */
            cursor: pointer;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__button:hover {
            box-shadow: 0 0 15px 5px #fff; /* Stronger glow on hover */
            transform: translateY(-2px); /* Slight lift effect */
          }
        
        &__arrow {
            display: flex;
            gap: 25;
        }
      }
}