.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 2px solid #ebebeb;

  &__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    &__image {
      width: 45px;
      height: 45px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__name {
      font-size: 16.5px;
      font-family: $nexa-font;
      color: map-get($colors, "primary");
    }
  }

  &__tab {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    font-size: 15px;

    & a {
      text-decoration: none;
      color: #4b584b;
      font-family: $inter-font;
      font-weight: bold;
    }
  }

  &__button {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    padding-right: 10px;

    & a {
      text-decoration: none;
      color: #4b584b;
    }
  }
}
