.author__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6;

  &__author__name {
    color: map-get($colors, "text");
    font-weight: 600;
    font-size: 15px;
  }

  &__author__article {
    display: flex;
    font-size: 13px;
  }
}
