.layout {
  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    gap: 12px;
    padding: 12px;

    &__content1 {
      flex: 2;
      background-color: map-get($colors, "white");
      height: auto;
      padding: 12px;
      border-radius: 10px;
    }

    &__content2 {
      flex: 8;
      background-color: map-get($colors, "white");
      height: auto;
      padding: 12px;
      border-radius: 10px;
    }
  }
}
