@font-face {
  font-family: "nexa-bold";
  src: url("/font/Nexa-Heavy.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("/font/Inter-VariableFont_opsz,wght.ttf");
  font-style: normal;
}

$nexa-font: "nexa-bold", san-serif;
$inter-font: "inter", san-serif;

body {
  font-family: $inter-font;
}
